In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import json
import re
import time

In [2]:
matplotlib.rcParams['font.sans-serif'] = ['KaiTi']

In [3]:
path = 'data/openCT_data.xlsx'

In [4]:
df_all = pd.read_excel(path)

In [5]:
df_all

,时间戳,测试名称,准考证号,任务ID,任务名称,该时间戳下记录的作答结果,测试来源
0,2020-09-18T08:10:30+08:00,bnuadmin/小学试卷二,1241,1,房屋面积,"{""canvas"":{""swap"":[0,0,0,0,0,0]}}",bnuadmin
1,2020-09-18T08:10:48+08:00,bnuadmin/小学试卷二,1241,1,房屋面积,"{""canvas"":{""swap"":[1,0,0,0,0,0]}}",bnuadmin
2,2020-09-18T08:10:49+08:00,bnuadmin/小学试卷二,1241,1,房屋面积,"{""canvas"":{""swap"":[0,0,0,0,0,0]}}",bnuadmin
3,2020-09-18T08:10:49+08:00,bnuadmin/小学试卷二,1241,1,房屋面积,"{""canvas"":{""swap"":[1,0,0,0,0,0]}}",bnuadmin
4,2020-09-18T08:10:51+08:00,bnuadmin/小学试卷二,1241,1,房屋面积,"{""canvas"":{""swap"":[1,0,1,0,0,0]}}",bnuadmin
...,...,...,...,...,...,...,...
631,2020-09-22T14:19:53+08:00,bnuadmin/小学试卷二,1051,1,房屋面积,"{""canvas"":{""swap"":[1,1,0,0,1,0]}}",bnuadmin
632,2020-09-22T14:19:54+08:00,bnuadmin/小学试卷二,1051,1,房屋面积,"{""canvas"":{""swap"":[1,1,0,1,1,0]}}",bnuadmin
633,2020-09-22T14:19:56+08:00,bnuadmin/小学试卷二,1051,1,房屋面积,"{""canvas"":{""swap"":[1,1,0,1,1,1]}}",bnuadmin
634,2020-09-22T14:20:07+08:00,bnuadmin/小学试卷二,1051,1,房屋面积,"{""canvas"":{""swap"":[1,1,0,1,0,1]}}",bnuadmin
635,2020-09-22T14:20:16+08:00,bnuadmin/小学试卷二,1050,1,房屋面积,"{""canvas"":{""swap"":[1,1,0,1,1,0]}}",bnuadmin

In [99]:
df_use = df_all.loc[:, ['时间戳', '准考证号', '该时间戳下记录的作答结果']]

In [84]:
df_use

                           时间戳  准考证号                       该时间戳下记录的作答结果
0    2020-09-18T08:10:30+08:00  1241  {"canvas":{"swap":[0,0,0,0,0,0]}}
1    2020-09-18T08:10:48+08:00  1241  {"canvas":{"swap":[1,0,0,0,0,0]}}
2    2020-09-18T08:10:49+08:00  1241  {"canvas":{"swap":[0,0,0,0,0,0]}}
3    2020-09-18T08:10:49+08:00  1241  {"canvas":{"swap":[1,0,0,0,0,0]}}
4    2020-09-18T08:10:51+08:00  1241  {"canvas":{"swap":[1,0,1,0,0,0]}}
..                         ...   ...                                ...
631  2020-09-22T14:19:53+08:00  1051  {"canvas":{"swap":[1,1,0,0,1,0]}}
632  2020-09-22T14:19:54+08:00  1051  {"canvas":{"swap":[1,1,0,1,1,0]}}
633  2020-09-22T14:19:56+08:00  1051  {"canvas":{"swap":[1,1,0,1,1,1]}}
634  2020-09-22T14:20:07+08:00  1051  {"canvas":{"swap":[1,1,0,1,0,1]}}
635  2020-09-22T14:20:16+08:00  1050  {"canvas":{"swap":[1,1,0,1,1,0]}}

[636 rows x 3 columns]

In [100]:
df_use.rename({'时间戳':'timestamp', '准考证号':'userID', '该时间戳下记录的作答结果':'result'}, axis='columns', inplace=True)

In [101]:
# 清洗result中的数据
def deal_result(result):
    a_dict =json.loads(result)
    return a_dict.get('canvas').get('swap')

In [102]:
df_use['result'] = df_use['result'].apply(deal_result)

In [103]:
df_use

                     timestamp  userID              result
0    2020-09-18T08:10:30+08:00    1241  [0, 0, 0, 0, 0, 0]
1    2020-09-18T08:10:48+08:00    1241  [1, 0, 0, 0, 0, 0]
2    2020-09-18T08:10:49+08:00    1241  [0, 0, 0, 0, 0, 0]
3    2020-09-18T08:10:49+08:00    1241  [1, 0, 0, 0, 0, 0]
4    2020-09-18T08:10:51+08:00    1241  [1, 0, 1, 0, 0, 0]
..                         ...     ...                 ...
631  2020-09-22T14:19:53+08:00    1051  [1, 1, 0, 0, 1, 0]
632  2020-09-22T14:19:54+08:00    1051  [1, 1, 0, 1, 1, 0]
633  2020-09-22T14:19:56+08:00    1051  [1, 1, 0, 1, 1, 1]
634  2020-09-22T14:20:07+08:00    1051  [1, 1, 0, 1, 0, 1]
635  2020-09-22T14:20:16+08:00    1050  [1, 1, 0, 1, 1, 0]

[636 rows x 3 columns]

In [104]:
def deal_time(time_str):
    time_str = re.match('.*\+', time_str)
    time_str = time_str[0].replace('+', '')
    #转换成时间数组
    timeArray = time.strptime(time_str, "%Y-%m-%dT%H:%M:%S")
    #转换成时间戳
    timestamp = time.mktime(timeArray)
    return timestamp

In [105]:
test = deal_time(df_use.timestamp[0])
type(test)

float

In [106]:
df_use['timestamp'] = df_use['timestamp'].apply(deal_time)

In [107]:
df_use

        timestamp  userID              result
0    1.600388e+09    1241  [0, 0, 0, 0, 0, 0]
1    1.600388e+09    1241  [1, 0, 0, 0, 0, 0]
2    1.600388e+09    1241  [0, 0, 0, 0, 0, 0]
3    1.600388e+09    1241  [1, 0, 0, 0, 0, 0]
4    1.600388e+09    1241  [1, 0, 1, 0, 0, 0]
..            ...     ...                 ...
631  1.600756e+09    1051  [1, 1, 0, 0, 1, 0]
632  1.600756e+09    1051  [1, 1, 0, 1, 1, 0]
633  1.600756e+09    1051  [1, 1, 0, 1, 1, 1]
634  1.600756e+09    1051  [1, 1, 0, 1, 0, 1]
635  1.600756e+09    1050  [1, 1, 0, 1, 1, 0]

[636 rows x 3 columns]

In [108]:
df_use.timestamp = df_use.timestamp.astype(int)

In [109]:
df_use.head(20)

     timestamp  userID              result
0   1600387830    1241  [0, 0, 0, 0, 0, 0]
1   1600387848    1241  [1, 0, 0, 0, 0, 0]
2   1600387849    1241  [0, 0, 0, 0, 0, 0]
3   1600387849    1241  [1, 0, 0, 0, 0, 0]
4   1600387851    1241  [1, 0, 1, 0, 0, 0]
5   1600387851    1241  [1, 0, 0, 0, 0, 0]
6   1600387853    1241  [1, 0, 1, 0, 0, 0]
7   1600387853    1241  [1, 0, 0, 0, 0, 0]
8   1600387854    1241  [1, 0, 1, 0, 0, 0]
9   1600387854    1266  [0, 0, 0, 0, 0, 0]
10  1600387854    1241  [1, 0, 0, 0, 0, 0]
11  1600387854    1241  [1, 0, 1, 0, 0, 0]
12  1600387857    1241  [1, 0, 1, 0, 0, 1]
13  1600387858    1241  [1, 0, 1, 0, 0, 0]
14  1600387858    1241  [1, 0, 1, 0, 0, 1]
15  1600387858    1241  [1, 0, 1, 0, 0, 0]
16  1600387860    1241  [1, 0, 1, 0, 0, 1]
17  1600387860    1241  [1, 0, 1, 0, 0, 0]
18  1600387861    1241  [1, 0, 1, 0, 0, 1]
19  1600387861    1241  [1, 0, 1, 0, 0, 0]

In [111]:
# 分组排序
df_use = df_use.sort_values(by=['userID', 'timestamp'])

In [188]:
df_use

      timestamp  userID              result
347  1600669439    1031  [0, 0, 0, 0, 0, 0]
358  1600669453    1031  [1, 0, 0, 0, 0, 0]
359  1600669455    1031  [1, 1, 0, 0, 0, 0]
363  1600669457    1031  [1, 1, 1, 0, 0, 0]
365  1600669459    1031  [1, 1, 1, 0, 1, 0]
..          ...     ...                 ...
181  1600388136    1269  [1, 1, 1, 0, 1, 0]
183  1600388137    1269  [0, 1, 1, 0, 1, 0]
184  1600388140    1269  [1, 1, 1, 0, 1, 0]
263  1600388439    1270  [0, 0, 0, 0, 0, 0]
307  1600388508    1270  [0, 0, 0, 1, 0, 0]

[636 rows x 3 columns]

In [193]:
df_use.loc[df_use['userID']==1042]

      timestamp  userID              result
345  1600669437    1042  [0, 0, 0, 0, 0, 0]
369  1600669463    1042  [0, 0, 0, 0, 0, 0]
414  1600669512    1042  [1, 0, 0, 0, 0, 0]
415  1600669513    1042  [0, 0, 0, 0, 0, 0]
417  1600669515    1042  [1, 0, 0, 0, 0, 0]
423  1600669523    1042  [1, 0, 1, 0, 0, 0]
426  1600669525    1042  [1, 1, 1, 0, 0, 0]
430  1600669528    1042  [1, 1, 1, 1, 0, 0]
431  1600669529    1042  [1, 1, 1, 1, 1, 0]
433  1600669531    1042  [1, 1, 1, 1, 1, 1]

In [117]:
df_grouped = df_use.groupby('userID')

In [201]:
def deal_list(result_list):
    all_sum = 0
    # 将列表中元素与其索引相乘在相加
    for index, item in enumerate(result_list):
        all_sum += (index+1) * item
    return all_sum

In [130]:
user_dict = {}

In [205]:
for group in df_grouped:
    temp_df = df_grouped.get_group(group[0])
    list_result = []
    for result in temp_df.result:
        # 对当前行为数组加权求和
        temp_sum = deal_list(result)
        list_result.append(temp_sum)
    user_dict[group[0]] = list_result

In [206]:
user_dict.get(1031)

[0, 1, 3, 6, 11, 15, 21]

In [207]:
df_user_result = pd.DataFrame(pd.Series(user_dict), columns=['result'])
df_user_result = df_user_result.reset_index().rename(columns={'index':'userID'})

In [208]:
pd.set_option('max_colwidth',80)

In [209]:
df_user_result

,userID,result
0,1031,"[0, 1, 3, 6, 11, 15, 21]"
1,1032,"[0, 2, 0, 6, 0, 3, 8, 10, 16, 20, 21, 20, 16, 10, 11]"
2,1033,"[0, 1, 4, 8, 13]"
3,1034,"[0, 2]"
4,1035,"[0, 1, 0, 3, 4, 6, 10, 16]"
5,1036,"[0, 6, 0, 6, 7, 10, 15, 10, 12, 17, 21, 15, 14, 11, 17, 12, 8, 6, 0, 3, 7, 8..."
6,1037,"[0, 3, 9, 10, 12, 17, 15]"
7,1038,"[0, 3, 8, 9, 13]"
8,1039,"[0, 1, 4, 6, 12]"
9,1040,"[0, 1, 0, 0, 1, 3, 6, 11, 17, 12, 16]"
10,1041,"[0, 5, 0, 5, 0, 5, 8, 5, 11, 5, 8, 5, 11, 5, 11, 5, 8, 5, 6, 5, 7, 5, 9, 5]"
11,1042,"[0, 0, 1, 0, 1, 4, 6, 10, 15, 21]"
12,1043,"[0, 5, 11, 14, 15, 17, 15, 17, 21]"
13,1044,"[0, 3, 0, 3, 7, 3, 7, 7, 12, 12, 18, 19, 21, 19, 21]"
14,1045,"[0, 4, 10, 11]"
15,1046,"[0, 1, 7, 10, 12]"
16,1047,"[0, 1, 5, 8, 13]"
17,1048,"[0, 1, 4, 8, 10, 7, 12, 18]"
18,1049,"[0, 0, 2, 3, 6, 3, 10, 15, 4, 21, 6, 12, 9, 12, 6, 11]"
19,1050,"[0, 3, 8, 3, 0, 5, 6, 10, 9, 10, 9, 10, 9, 10, 9, 10, 9, 10, 12]"
20,1051,"[0, 1, 3, 8, 12, 18, 13]"
21,1052,"[0, 4, 9, 12, 13]"
22,1053,"[0, 2, 3, 1, 0, 5, 11, 14, 18, 19, 15]"
23,1054,"[0, 2, 5, 6, 11]"
24,1055,"[0, 6, 9, 11, 12, 16, 12, 16, 21]"
25,1056,"[0, 2, 3, 6, 10, 15, 21]"
26,1057,"[0, 5, 9, 5, 0, 6, 7, 10, 9, 6, 0, 3, 5, 10, 8, 10, 11, 8, 14]"
27,1058,"[0, 4, 7, 8, 10, 15, 21, 15, 21, 15, 21, 15, 10, 7, 6, 4, 0, 1, 4, 9, 13]"
28,1059,"[0, 1, 3, 8, 14]"
29,1060,"[0, 1, 3, 9]"
30,1241,"[0, 1, 0, 1, 4, 1, 4, 1, 4, 1, 4, 10, 4, 10, 4, 10, 4, 10, 4, 10, 4, 10, 4, ..."
31,1242,"[0, 3, 0, 1, 4, 6, 11, 6, 11, 17, 21, 20, 17, 15, 11, 6, 7, 12, 15, 17, 21]"
32,1243,"[0, 1, 4, 10, 15, 19, 21]"
33,1244,"[0, 1, 5, 10, 13, 19, 21, 19, 14]"
34,1245,"[0, 3, 4, 3, 4, 3, 4, 6, 11, 17, 21, 15, 21, 16, 13, 12]"
35,1246,"[0, 0, 4, 0, 2, 0, 4, 10, 12, 10, 12, 13, 12, 13, 16, 21, 18, 17, 12]"
36,1248,"[0, 1, 4, 6, 4, 6, 10, 6, 10, 6, 10, 6, 10, 6, 10, 15, 10, 15, 21]"
37,1249,"[0, 3, 0, 3, 0, 3, 0, 1]"
38,1250,"[0, 1, 4, 9, 13, 15, 13, 8, 10]"
39,1251,"[0, 3, 4, 9, 11]"
40,1252,"[0, 3, 0, 3, 5, 6, 10, 15, 21, 18, 14, 17, 21, 17, 14]"
41,1253,"[0, 3, 4, 6, 10, 15, 21]"
42,1254,"[0, 3, 5, 6]"
43,1255,"[0, 1, 0, 5, 11, 14, 16, 10, 11]"
44,1256,"[0, 5, 6, 5, 6]"
45,1257,"[0, 1, 3, 6, 10]"
46,1258,"[0, 1, 3, 8, 14]"
47,1259,"[0, 1, 0, 1, 5, 8]"
48,1260,"[0, 1, 4, 3, 0, 3, 0, 3, 4, 3, 4, 9, 11, 6, 10, 6, 11, 15, 10]"
49,1261,"[0, 2, 6, 7, 10, 15, 21, 16, 10, 15, 21]"
50,1262,"[0, 3, 4, 6, 11, 6, 11, 17, 21, 17, 11]"
51,1263,"[0, 2, 3, 7, 12, 15, 21]"
52,1264,"[0, 3, 4, 8, 13]"
53,1265,"[0, 3, 8, 14, 8, 10, 14]"
54,1266,"[0, 3, 8, 9, 11, 15, 21, 18, 21, 17, 12, 0, 6, 9, 10, 12]"
55,1267,"[0, 3, 4, 10, 15, 17]"
56,1268,"[0, 1, 4, 6, 11]"
57,1269,"[0, 4, 6, 11, 14, 10, 11, 10, 11]"
58,1270,"[0, 4]"

In [204]:
test = [1,1,1,1,0,0]
sum_1 =  deal_list(test)
sum_1

10

In [200]:
for index, item in enumerate(test):
    print(str(index+1) + ' ' + str(item))

1 1
2 1
3 0
4 0
5 0
6 0